a{text-decoration: none;}
body{
	background: url(../img/img17.jpg);
	background-size: cover;
}
.cover{
	width: 1000px;
	margin: auto;
}
.cover p{
	font-size: 30px;
	color: black;
}
.bar{
	height: 50px;
	margin-top: 10px;
	background: linear-gradient(#8c8c8c, #595959, #1a1a1a);
}
.bar ul{
	text-align: center;
}
.bar ul li{
	margin-top: 5px;
	display: inline-block;
	list-style: none;

}
.bar ul li a{
	color: white;
	padding: 0 60px;
}
.bar ul li a:hover{
	color: black;
}
.sign{
	list-style: none;
	float: right;
	color: white;
}
.sign:hover{
	color: black;
}